<h2 id="title">Welcome to Ember</h2>

{{outlet}}
<div>
    <h5>Swappable</h5>
    {{#swappable-group swapped=(action 'swapped') as |group|}}
        {{#group.container list
            itemReordered=(action (mut list))
            itemAdded=(action (mut list))
            itemRemoved=(action (mut list))
            as |container|}}
                {{#each container.items as |item index|}}
                    {{#container.item item index=index}}
                        {{item.name}}
                    {{/container.item}}
                {{else}}
                    Im empty
                {{/each}}
        {{/group.container}}
        {{#group.container listTwo
            itemReordered=(action (mut listTwo))
            itemAdded=(action (mut listTwo))
            itemRemoved=(action (mut listTwo))
            as |container|}}
                {{#each container.items as |item index|}}
                    {{#container.item item index=index}}
                        {{item.name}}
                    {{/container.item}}
                {{else}}
                    Im empty
                {{/each}}
        {{/group.container}}
    {{/swappable-group}}
</div>
<div>
    <h5>Sortable</h5>
    {{#sortable-group sorted=(action 'sorted') as |group|}}
        {{#group.container list
            itemReordered=(action (mut list))
            itemAdded=(action (mut list))
            itemRemoved=(action (mut list)) as |container|}}
                {{#each container.items as |item|}}
                    {{#container.item item}}
                        {{item.name}}
                    {{/container.item}}
                {{else}}
                    Im empty
                {{/each}}
        {{/group.container}}
        {{#group.container listTwo
            itemReordered=(action (mut listTwo))
            itemAdded=(action (mut listTwo))
            itemRemoved=(action (mut listTwo)) as |container|}}
                {{#each container.items as |item|}}
                    {{#container.item item}}
                        {{item.name}}
                    {{/container.item}}
                {{else}}
                    Im Empty
                {{/each}}
        {{/group.container}}
    {{/sortable-group}}
</div>