<h2 id="title">Welcome to Ember</h2>

{{outlet}}
{{!-- <div>
    <h5>Swappable</h5>
    {{#swappable-group swapped=(action 'swapped') as |group|}}
        {{#group.container as |container|}}
            {{#each list as |item|}}
                {{#container.item}}
                    {{item.name}}
                {{/container.item}}
            {{/each}}
        {{/group.container}}
        {{#group.container as |container|}}
            {{#each listTwo as |item|}}
                {{#container.item}}
                    {{item.name}}
                {{/container.item}}
            {{/each}}
        {{/group.container}}
    {{/swappable-group}}
</div> --}}
<div>
    <h5>Sortable</h5>
    {{!-- {{#sortable-group sorted=(action 'sorted') as |group|}}
        {{#group.container list
            itemAdded=(action (mut list))
            itemRemoved=(action (mut list)) as |item|}}
            {{item.name}}
        {{/group.container}}
        {{#group.container listTwo
            itemAdded=(action (mut listTwo))
            itemRemoved=(action (mut listTwo)) as |item|}}
            {{item.name}}
        {{/group.container}}
    {{/sortable-group}} --}}
    {{#sortable-group sorted=(action 'sorted') as |group|}}
        {{#group.container list
            itemReordered=(action (mut list))
            itemAdded=(action (mut list))
            itemRemoved=(action (mut list)) as |container|}}
            {{#each list as |item|}}
                {{#container.item item}}
                    {{item.name}}
                {{/container.item}}
            {{/each}}
        {{/group.container}}
        {{#group.container listTwo
            itemAdded=(action (mut listTwo))
            itemRemoved=(action (mut listTwo)) as |container|}}
            {{#each listTwo as |item|}}
                {{#container.item item}}
                    {{item.name}}
                {{/container.item}}
            {{/each}}
        {{/group.container}}
    {{/sortable-group}}
</div>