<h1>
    Sortable
</h1>
{{!-- <p>
    <label class="checkbox-inline">
        {{input type="checkbox" checked=logEvents}} Log Events
    </label>
    <label class="checkbox-inline">
        {{input type="checkbox" checked=resizeMirror}} ResizeMirror Plugin
    </label>
    <label class="checkbox-inline">
        {{input type="checkbox" checked=snappable}} Snappable Plugin
    </label>
    <label class="checkbox-inline">
        {{input type="checkbox" checked=swapAnimation}} SwapAnimation Plugin
    </label>
    <label class="checkbox-inline">
        {{input type="checkbox" checked=collidable}} Collidable Plugin
    </label>
</p>
{{#if logEvents}}
    <div class="alert alert-info">
        Open your browser's console to see events being fired as you drag and drop.
    </div>
{{/if}}
{{#if collidable}}
    <div class="alert alert-info">
        You won't be able to drag items directly over elements that are hghlighted in red.
    </div>
{{/if}} --}}
<div class="containers {{if this.collidable "collidable-enabled"}}">
    <SortableGroup
        @resizeMirror={{this.resizeMirror}}
        @snappable={{this.snappable}}
        @collidable={{this.collidable}}
        @collidables={{this.collidables}}
        @swapAnimation={{this.swapAnimation}}
        @swapAnimationOptions={{hash horizontal=true duration=250}}
        @mirrorOptions={{hash constrainDimensions=true}}
        @sortableActions={{hash
            start=this.sortableStart
            sort=this.sortableSort
            sorted=this.sortableSorted
            stop=this.sortableStop
        }}
        @dragActions={{hash
            start=this.dragStart
            move=this.dragMove
            over=this.dragOver
            out=this.dragOut
            stop=this.dragStop
        }}
        @snapActions={{hash in=this.snapIn out=this.snapOut}}
        @collidableActions={{hash in=this.collidableIn out=this.collidableOut}} as |group|
    >
        <div class="sortable container-list">
            <header>
                <h3>
                    Container One
                </h3>
            </header>
            <group.container
                @items={{this.list}}
                @itemReordered={{fn this.updateItems "list"}}
                @itemAdded={{fn this.updateItems "list"}}
                @itemRemoved={{fn this.updateItems "list"}} as |container|
            >
                {{#each container.items as |item|}}
                    <container.item @item={{item}}>
                        {{item.name}}
                    </container.item>
                {{else}}
                    Im empty
                {{/each}}
            </group.container>
        </div>
        <div class="sortable container-list">
            <header>
                <h3>
                    Container Two
                </h3>
            </header>
            <group.container
                @items={{this.listTwo}}
                @itemReordered={{mut this.listTwo}}
                @itemAdded={{mut this.listTwo}}
                @itemRemoved={{mut this.listTwo}} as |container|
            >
                {{#each container.items as |item|}}
                    <container.item @item={{item}}>
                        {{item.name}}
                    </container.item>
                {{else}}
                    Im Empty
                {{/each}}
            </group.container>
        </div>
        <div class="sortable container-list">
            <header>
                <h3>
                    Container Three
                </h3>
            </header>
            <group.container
                @items={{this.listThree}}
                @itemReordered={{mut this.listThree}}
                @itemAdded={{mut this.listThree}}
                @itemRemoved={{mut this.listThree}} as |container|
            >
                {{#each container.items as |item|}}
                    <container.item @item={{item}}>
                        {{item.name}}
                    </container.item>
                {{else}}
                    Im Empty
                {{/each}}
            </group.container>
        </div>
    </SortableGroup>

    Backing Data
    {{#each this.list as |item|}}
        {{item.name}}
    {{/each}}
</div>