<h1>Sortable</h1>
<div>
    Resize Mirror Element
    {{input type="checkbox" checked=resizeMirror}}
</div>

<div class="containers">
    <SortableGroup @resizeMirror={{resizeMirror}} as |Group|>
        <div class="sortable container-list">
            <header>
                <h3>Container One</h3>
            </header>
            <Group.container
                @items={{list}}
                @itemReordered={{action (mut list)}}
                @itemAdded={{action (mut list)}}
                @itemRemoved={{action (mut list)}}
                as |Container|
            >
                    {{#each Container.items as |item|}}
                        <Container.item @item={{item}}>
                            {{item.name}}
                        </Container.item>
                    {{else}}
                        Im empty
                    {{/each}}
            </Group.container>
        </div>
        <div class="sortable container-list">
            <header>
                <h3>Container Two</h3>
            </header>
            <Group.container
                @items={{listTwo}}
                @itemReordered={{action (mut listTwo)}}
                @itemAdded={{action (mut listTwo)}}
                @itemRemoved={{action (mut listTwo)}}
                as |Container|
            >
                    {{#each Container.items as |item|}}
                        <Container.item @item={{item}}>
                            {{item.name}}
                        </Container.item>
                    {{else}}
                        Im Empty
                    {{/each}}
            </Group.container>
        </div>
        <div class="sortable container-list">
            <header>
                <h3>Container Three</h3>
            </header>
            <Group.container
                @items={{listThree}}
                @itemReordered={{action (mut listThree)}}
                @itemAdded={{action (mut listThree)}}
                @itemRemoved={{action (mut listThree)}}
                as |Container|
            >
                    {{#each Container.items as |item|}}
                        <Container.item @item={{item}}>
                            {{item.name}}
                        </Container.item>
                    {{else}}
                        Im Empty
                    {{/each}}
            </Group.container>
        </div>
    </SortableGroup>
</div>
