<h1>Sortable</h1>
<div>
    Resize Mirror Element
    {{input type="checkbox" checked=resizeMirror}}
</div>

<div class="containers">
    {{#sortable-group resizeMirror=resizeMirror as |group|}}
        <div class="sortable container-list">
            <header>
                <h3>Container One</h3>
            </header>
            {{#group.container list
                itemReordered=(action (mut list))
                itemAdded=(action (mut list))
                itemRemoved=(action (mut list)) as |container|}}
                    {{#each container.items as |item|}}
                        {{#container.item item}}
                            {{item.name}}
                        {{/container.item}}
                    {{else}}
                        Im empty
                    {{/each}}
            {{/group.container}}
        </div>
        <div class="sortable container-list">
            <header>
                <h3>Container Two</h3>
            </header>
            {{#group.container listTwo
                itemReordered=(action (mut listTwo))
                itemAdded=(action (mut listTwo))
                itemRemoved=(action (mut listTwo)) as |container|}}
                    {{#each container.items as |item|}}
                        {{#container.item item}}
                            {{item.name}}
                        {{/container.item}}
                    {{else}}
                        Im Empty
                    {{/each}}
            {{/group.container}}
        </div>
        <div class="sortable container-list">
            <header>
                <h3>Container Three</h3>
            </header>
            {{#group.container listThree
                itemReordered=(action (mut listThree))
                itemAdded=(action (mut listThree))
                itemRemoved=(action (mut listThree)) as |container|}}
                    {{#each container.items as |item|}}
                        {{#container.item item}}
                            {{item.name}}
                        {{/container.item}}
                    {{else}}
                        Im Empty
                    {{/each}}
            {{/group.container}}
        </div>
    {{/sortable-group}}
</div>