<h1>Swappable</h1>
<div class="containers">
    <SwappableGroup as |Group|>
        <div class="swappable container-list">
            <header>
                <h3>Container</h3>
            </header>
            <Group.container
                @items={{list}}
                @itemReordered={{action (mut list)}}
                @itemAdded={{action (mut list)}}
                @itemRemoved={{action (mut list)}}
                as |Container|
            >
                    {{#each Container.items as |item index|}}
                        <Container.item @item={{item}} @index={{index}}>
                            {{item.name}}
                        </Container.item>
                    {{else}}
                        Im empty
                    {{/each}}
            </Group.container>
        </div>
    </SwappableGroup>
</div>
